/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
  -fx-font: 14px "Trebuchet MS", Helvetica, sans-serif;
  -fx-background-color: #CFD8DC;
}

.root .label {
	-fx-text-fill: #212121;
}

.menu-button {
	-fx-background-insets: 0;
	-fx-background-radius: 0;
	-fx-padding: 5px;
	-fx-max-width: Infinity;
	-fx-pref-height: 35px;
	-fx-max-height: 40px;
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-color: grey;
	-fx-border-insets: -1px;
}

.menu-button:disabled {
  -fx-opacity: 0.5;
}

.menu-button:hover {
	-fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.15), 5, 0, 1, 1);
}

.main-menu-button {
	-fx-text-fill: #FFFFFF;
	-fx-background-color: #FF5252;
	-fx-font-size: 22px;
	-fx-border-radius: 50px;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 10, 0, 0, 5);
}

.main-menu-button:pressed {
	-fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.1), 15, 0, 0, 5);
}
